#page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;  
}

#container {
    display: flex;
    flex-direction: column;
    border: 4px solid blueviolet;
    padding-top: 0; 
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    height: 1em;
    margin: 0;
    padding-bottom: 0.25em;
    background-color: blueviolet;
    color: white;
}

#body {
    padding: 1em;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

#characters {
    align-items: unset;
    justify-content: space-between;
    margin-bottom: 3em;
}

hr {
    width: 70%;
    border: 1px solid black;
}

.detail {
    margin: 1em;
}

#tShirt {
    margin-bottom: 0;
}

button {
    padding: 0.5em; 
    margin: 1em; 
    width: 8em;
    height: 3em;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

@media screen and (min-width:1025px) {
    #body {
       padding-left: 20vw;
       padding-right: 20vw;
    }
}